In [1]:
lst = list(["hans", "henning", "børge", "john", "henrik"])
new_list = [value for value in lst if value.startswith("h")]
new_list

['hans', 'henning', 'henrik']

In [8]:
lst2 = list(value*3 for value in range(1,100))
lst2

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 102,
 105,
 108,
 111,
 114,
 117,
 120,
 123,
 126,
 129,
 132,
 135,
 138,
 141,
 144,
 147,
 150,
 153,
 156,
 159,
 162,
 165,
 168,
 171,
 174,
 177,
 180,
 183,
 186,
 189,
 192,
 195,
 198,
 201,
 204,
 207,
 210,
 213,
 216,
 219,
 222,
 225,
 228,
 231,
 234,
 237,
 240,
 243,
 246,
 249,
 252,
 255,
 258,
 261,
 264,
 267,
 270,
 273,
 276,
 279,
 282,
 285,
 288,
 291,
 294,
 297]

In [35]:
lst3 = list(["svenning", "johnning", "kimm"])
lst4 = list([])
for name in lst3:
    lst4.append(len(name))
    lst4.append(name)
lst4
ftuple = tuple(lst4)
ftuple

(8, 'svenning', 8, 'johnning', 4, 'kimm')

In [38]:
for c in "hej jeg er 12 år gammel":
    if c.isdigit():
        print (c)

1
2

In [41]:
roll = [(d1, d2) for d1 in range(1, 7) for d2 in range(1, 7)]
roll

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]